.fav-pop-up {
  position: absolute;
  right: 0;
  width: 280px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fav-pop-up-items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  max-height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#recently-added-el {
  font-size: 19px;
  color: #6cc4ff;
  margin: 5px;
}

.fav-pop-up-items::-webkit-scrollbar {
  display: none;
}
.fav-pop-up-item {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  gap: 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  height: fit-content;
  max-height: 50px;
  flex: 1 1 100%;
  box-sizing: border-box;
  position: relative;
}

.fav-pop-up-item:hover {
    background-color: #f1f6f8;
}

.fav-pop-up-item img {
  width: 25px;
  height: 25px;
  object-fit: fill;
  border-radius: 5px;
}
.pop-up-title {
  text-align: left;
  max-width: 150px;
}

#view-all-link {
  color: #fff;
  font-size: 15px;
}
