#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #3939f5;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: auto;
  z-index: 9999;
}

.cart-items{
  position: relative;
}

.cart-items a h3 {
  width: 17px;
  height: 17px;
  background-color: rgba(57, 57, 245,1);
  color: #f2f2f7;
  border: 1px solid #f2f2f7;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 20px;
}