#items .item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  max-width: 200px;
  flex: 1 1 100%;
  box-sizing: border-box;
  position: relative;
}

#items .item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#items .item img {
  width: 150px;
  height: 150px;
  object-fit: fill;
  border-radius: 5px;
  cursor: pointer;
}

#items .item h2 {
  cursor: pointer;
}

#items .item-props {
  max-height: 300px;
}

.add-to-cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(96, 96, 245);
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
}

.add-to-cart-btn #btn button {
  background-color: rgb(96, 96, 245);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.add-to-cart-btn #btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: rgb(96, 96, 245);
  cursor: pointer;
}

.add-to-cart-btn #icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
  background-color: rgb(205, 252, 74);
  cursor: pointer;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.no-favorite-item {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 1;
}

.favorite-item {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgb(255, 0, 0);
  cursor: pointer;
  z-index: 1;
}

.heart svg {
  font-size: 20px;
}
